@media (min-width: 768px) {
    .co\:container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 4rem/* 64px */;
        padding-left: 4rem/* 64px */;
    }
}
@media (min-width: 768px) {
    @media (min-width: 640px) {
        .co\:container {
            max-width: 640px;
        }
    }
}
@media (min-width: 768px) {
    @media (min-width: 768px) {
        .co\:container {
            max-width: 768px;
        }
    }
}
@media (min-width: 768px) {
    @media (min-width: 1024px) {
        .co\:container {
            max-width: 1024px;
        }
    }
}
@media (min-width: 768px) {
    @media (min-width: 1280px) {
        .co\:container {
            max-width: 1280px;
        }
    }
}
@media (min-width: 768px) {
    @media (min-width: 1536px) {
        .co\:container {
            max-width: 1536px;
        }
    }
}